.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  padding: 15px;
  margin: 0 16px;
}

.left,
.center,
.icons {
  display: flex;
  align-items: center;
}

.logo {
  margin-left: 14px;
}

.logo img {
  width: 110px;
  cursor: pointer;
}

.icon {
  cursor: pointer;
  margin-left: 20px;
}
